@font-face {
    font-family: titlefont;
    src:url(../font/SILVS___.TTF);
    /*src:url(../font/SubwayNovellaDEMO.ttf);*/
   
}
#borderIt{
	border: 3px solid black;
	background-color: white;
	border-radius: 5%;
	background-color: rgb(67, 198, 232);
}

h2{
	position: relative;
	left: 2rem;
	margin-top: 5rem;
	padding-left: 2rem;
	padding-top: .3rem;
	padding-bottom: .3rem;
	background-color: rgb(85, 84, 199);
	width: 33%
}
p{
	padding: 0;
	margin: 0;
	padding-top: 1rem;
}


h3{ 
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 5%;
 }
img{
	width: 100%;
}
figure{

	padding:0;
	margin: 1%;
	margin-top: 5%;
	/*width: 98%;*/
	
}

@media (max-width: 44rem) {

	figure{
		margin: 0;
		margin-top: 5%;
		width: 100%;
	}
	
}




figure figcaption{
	position: relative;
	margin-left: 5%;
	top: -2rem;
}


nav{
	font-size: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}
nav a{

	color: rgb(0,0,0);
	text-decoration: none;
	padding: .5rem ;
	background-color: rgb(67, 220, 232);
	transition: background-color .5s;



}
nav a:hover, nav a:focus{
	/*border: 1px solid black;*/
	color: rgb(85,84,199);
	background-color: rgb(67, 198, 232);
}
body{
	margin: 0;
	padding-top: 2rem;
	margin-left: 2%;

	background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:top; 
	background-size: 100% 12rem;
	background-color: rgb(203, 243, 239);

}

form{
	position: absolute;
	top: 6rem;
	right: 1rem;

}
input{
	width: 10rem;

	font-size: 1.25rem;
	background: url("../img/search.png");
	background-repeat: no-repeat;
	background-position: 1% 1%;
	background-size: auto 100%;
	text-indent: 20%;
	background-color: white;
}
h1{
	color: black;
	margin: 0;
	padding-left: 2.5rem;	
	font-size: 3rem;
	font-family: titlefont;

}


.nav-main-item{
		position: relative;
		top:4.5rem;

		background-color: rgb(67, 198, 232);
		left:-4%; 
		padding-left: 6%;
		padding-right: 0;
		/*padding: 1rem 1rem 7% 3&&;*/
		width: 104%;
}

@media(max-width: 60rem){
	body{
		background: url("../img/8.jpg");
		background-repeat: no-repeat;
		background-position:top; 
		background-size: 100% 10rem;
		background-color: rgb(203, 243, 239);


	}
	.nav-main-item{
		position: relative;
		top: 2rem;
	}
	h2{
		margin-top: 3rem;
	}
	form{
		position: absolute;
		top: 5rem;
		right: 1rem;
	}
	input{
		width: 9rem;
		font-size: 1rem;
	}
	h1{
		padding-bottom: 1rem;
		font-size:2rem;
	}
}


@media(max-width: 44rem){
	body{
		background: url("../img/8.jpg");
		background-repeat: no-repeat;
		background-position:top; 
		background-size: 100% 7rem;
	background-color: rgb(203, 243, 239);	
	}
	.nav-main-item{
		position: relative;
		top: .5rem;
		font-size: 1rem;
	}

	form{
		position: absolute;
		top: 4rem;
		right: 1rem;
	}
	input{
		width: 8rem;
		height: 1rem;
		font-size: .75rem;
	}
	h1{
		/*padding:1rem;*/
		font-size:1.5rem;
	}


}
@media(max-width: 30rem){
	body{
		background: url("../img/8.jpg");
		background-repeat: no-repeat;
		background-position:0% 0%; 
		background-size: 100% 6rem;
		background-color: rgb(203, 243, 239);
		padding: 0;
	}
	.nav-main-item{
		position: relative;
		top:1.5rem;
		font-size: .70rem;
	}

	form{
		position: absolute;
		top: 3.25rem;
		right: .5rem;
	}
	input{
		width: 8rem;
		height: 1rem;
		font-size: .7rem
	}
	
	h1{
		padding: 1rem;
		font-size: 1.25rem;
	}



}

@media(max-width: 21rem){
	body{
		background: url("../img/8.jpg");
		background-repeat: no-repeat;
		background-position:0% 0%; 
		background-size: 100% 4rem;
		background-color: rgb(203, 243, 239);
	 	padding: 0;

	}
	.nav-main-item{
		position: relative;
		font-size: 1rem;
		top:0rem;
	}
	

	form{
		display: none;
	}
	

	h1{
		padding: .5rem;
		font-size: 1rem;
	}

	.grid-3of24{
	
		width: 100%;
	}

}

@media(max-width: 19rem){
	h1{

	padding:0rem;
	}
}


	

/*@media(max-width: 24rem){
	.grid-3of24{
		width: 50%;
	}
}*/