nav{
	font-size: 1.5rem;
	
}
body{
	margin: 0;
	background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:center; 
	background-size: 100% 12rem;
	background-clip:20rem; 

}
.nav-main-item{
		position: relative;
		top:4.5rem;

		background-color: grey;
		left:-4%; 
		padding-left: 7%;
		padding-right: 3%;
		padding-top: .5rem;
		padding-bottom: .5rem;
		/*padding: 1rem 1rem 7% 3&&;*/
		width: 110%;
	}

	@media(max-width: 60rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:center; 
	background-size: 100% 10rem;
	background-clip:20rem; 

	}
	.nav-main-item{
		position: relative;
		top: 3.5rem;
	}
}


@media(max-width: 44rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:center; 
	background-size: 100% 7rem;
	background-clip:20rem; 

	}
	.nav-main-item{
		position: relative;
		top: 2.5rem;
		font-size: 1.25rem;
	}
}
@media(max-width: 30rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%; 
	background-size: 100% 6rem;
	}
	.nav-main-item{
		position: relative;
		top:1.5rem;
		font-size: 1rem;
	}

}
@media(max-width: 21rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%; 
	background-size: 100% 4rem;
 

	}
	.nav-main-item{
		position: relative;
		top:0rem;
	}
	h1{
		font-size: 1.75rem;
	}
}

h1{
	color: white;
	margin: 0;
	padding: 1rem;
}
.backgroundImage{
	/*position: relative;
	top: -2rem;
	float: right;
	width: 100%;
	border: 1px solid black;
    padding:50px;
    background-clip: content-box;*/
	/*background: url("../img/blueback.jpg");
	background-repeat: no-repeat;*/
	/*background-position: center 20rem;
	background-size: 100% auto;*/

/*h1{
	margin: 0;
	padding: 3rem;
	background-image: url("../img/blueback.jpg");
	background-size:  50% auto;
	background-repeat: no-repeat;
}*/