nav{
	font-size: 1.5rem;
	
}
nav a{
	color: rgb(0,0,0);
	text-decoration: none;
	padding: .5rem ;
	background-color: rgb(67, 220, 232);
	transition: background-color .5s;

}
nav a:hover, nav a:focus{
	/*border: 1px solid black;*/
	color: rgb(85,84,199);
	background-color: rgb(67, 198, 232);
}
body{
	margin: 0;
	background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:center; 
	background-size: 100% 12rem;

}
.profile{
	position: absolute;
	top: 1rem;
	right: 3%;
	width: 4rem;
	height: 4rem;
	
}
.nav-main-item{
		position: relative;
		top:4.5rem;

		background-color: rgb(67, 198, 232);
		left:-4%; 
		padding-left: 6%;
		padding-right: 0;
		padding-top: .5rem;
		padding-bottom: .5rem;
		/*padding: 1rem 1rem 7% 3&&;*/
		width: 98%;
}

@media(max-width: 60rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:center; 
	background-size: 100% 10rem;


	}
	.nav-main-item{
		position: relative;
		top: 3.5rem;
	}
	.profile{
	position: absolute;
	top: 1rem;
	right: 3%;
	width: 3.5rem;
	height: 3.5rem;
	
	}
}


@media(max-width: 44rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:center; 
	background-size: 100% 7rem;

	}
	.nav-main-item{
		position: relative;
		top: 2.5rem;
		font-size: 1.25rem;
	}
	.profile{
	position: absolute;
	top: 1rem;
	right: 3%;
	width: 3rem;
	height: 3rem;
	
	}


}
@media(max-width: 30rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%; 
	background-size: 100% 6rem;
	}
	.nav-main-item{
		position: relative;
		top:1.5rem;
		font-size: 1rem;
	}
	.profile{
		position: absolute;
		top: .75rem;
		right: 3%;
		width: 2.5rem;
		height: 2.5rem;
		
	}


}

@media(max-width: 21rem){
	body{
		background: url("../img/8.jpg");
	background-repeat: no-repeat;
	background-position:0% 0%; 
	background-size: 100% 4rem;
 

	}
	.nav-main-item{
		position: relative;
		top:0rem;
	}
	.profile{
	position: absolute;
	top: .5rem;
	right: 2%;
	width: 2rem;
	height: 2rem;
	
	}
	h1{
		font-size: 1.75rem;
	}
}

h1{
	color: white;
	margin: 0;
	padding: .5rem;
}
